<<<<<<< HEAD
<%= form_for([@article, @article.comments.build]) do |f| %>
=======
<%= form_for @comment do |f| %>
>>>>>>> e65ec85ae19e02d2fd6c6d9df6fab1ab439c6085
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> e65ec85ae19e02d2fd6c6d9df6fab1ab439c6085
