<!DOCTYPE html>
<html>
<head>
  <title>Articles</title>
</head>
<body>
<p>Your name is <%= @sessName %> <br>



<% if (@sessName !=nil) %> 
    <div class="post">

     <%= render 'articles/form' %>  
     <%= render 'categories/form' %>  
    <br>
    <br>
    </div>
  <% end %>
      
  <%= link_to 'New article', new_article_path %>
    <% @articles.each do |c| %>
      <div class="post">
        <% if (c.user != nil  ) %>
          Title: <%= c.title %>  By: <%= c.user.email %><br>
      
        <% end %>
        <%= c.text %><br>
        <br>
        <% c.comments.each do |x| %>
          <div class = "comment">
            <%= x.body %><br>
          </div>
        <%end%> 
      </div>
      <% if (@sessName != "Guest") %>
        <h6>Add a comment:</h6>
        <%= render 'comments/form' %>
      <% end %>
      <br>
      <br>

      
    <%end%> 



</body>
</html>
