
<body>



<div class="container">
  <div class="jumbotron">
    <h1>The Isoft Blog</h1>
    <p> </p> 
  </div>

<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>
 

  <div class="row">
    <div class="col-sm-4">
 
  <% @articles.each do |article| %>
    
      <h3><%= article.title %></h3>
      <p><%= article.text %></p>
      <%= link_to 'Show', article_path(article) %>
      <%= link_to 'Edit', edit_article_path(article)%>

  <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

    </div>

  <% end %>



      
    

